.sectionHeader {
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0.75rem;
  ._label {
    font-weight: 500;
    color: #6c757d;
  }
}

.subcards {
  margin: 30px 0;
  max-width: 40rem;
  .sectionHeader {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  ._list {
    padding: 0.5rem 0;
  }
}

.addCardForm {
  [name='title'] {
    display: block;
    font-weight: 500;
    border: 0;
    padding: 0;
    min-height: 0;
    resize: none;
  }
  padding: 0.5rem 0.75rem;
  ._controls {
    display: none;
  }
  &._focused {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    [name='title'] {
      box-shadow: none;
      margin-bottom: 0.5rem;
    }
    ._controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.cardsListItem {
  // Forbid long-click on iOS because it messes with touch drag-and-drop
  -webkit-touch-callout: none;
  user-select: none;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  margin: 0;
  &._dragged {
    background-color: #ddd;
    a:hover {
      text-decoration: none !important;
    }
    // https://getcssscan.com/css-box-shadow-examples #58
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    cursor: grab;
  }
  display: flex;
  ._counter {
    font-weight: 300;
    min-width: 1.7rem;
    text-align: end;
    margin-right: 0.7rem;
    color: #999;
    font-variant-numeric: tabular-nums;
    // Small font
    font-size: 0.9rem;
    // But still try to center
    line-height: 170%;
  }
  ._body {
    width: 100%;
    ._tagline {
      line-height: 130%;
      margin-top: 0.2em;
      font-weight: 400;
      font-size: 0.8rem;
      color: #888;
    }
    ._title {
      display: flex;
      flex-direction: row;
      ._fire {
        &._notRecentlyFired {
          color: #6c757d;
        }
        margin-left: auto;
        // TODO: this is suffering and it'd be better to just create a PNG or smth
        box-sizing: content-box;
        padding: 3px;
        height: 1.2rem;
        width: 1.2rem;
        border: none;
        font-size: 1.2rem;
        * {
          position: relative;
          left: 0.5px;
          bottom: 7px;
        }
        // Overrule the stretched link thing
        position: relative;
        z-index: 5000;
      }
    }
  }
}

.comments {
  margin: 30px 0;
  max-width: 40rem;
  .sectionHeader {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  ._list {
    margin-top: 1.5rem;
  }
}
