.form {
  [name="title"] {
    display: inline-block;
    font-weight: 500;
    border: 0;
    padding: 0;
  }
  padding: 0.5rem 0;
  padding-left: 1rem;
}

.form.formFocused {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 3px;
  [name="title"] {
    box-shadow: none;
    padding-bottom: 0.5rem;
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  margin-bottom: 0.5rem;
}
