.tagline {
  line-height: 120%;
  margin-top: 0.3em;
}

.card {
  // Forbid long-click on iOS because it messes with touch drag-and-drop
  -webkit-touch-callout: none;
  user-select: none;
}

.dragged {
  a:hover {
    text-decoration: none !important;
  }
  // https://getcssscan.com/css-box-shadow-examples #58
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: grab;
}
