.comment {
  padding: 0.5rem 1rem;
  padding-top: 0.75rem;
  margin: 1.25rem 0;
  max-width: 40rem;
  border-radius: 5px;
}

.commentPrivate {
  background-color: var(--private-color);
  margin-bottom: 1.75rem; /* Only for private ones! We don't want them to stick together. */
}

.commentPinned,
.commentPrivate.commentPinned {
  background-color: var(--pinned-color);
}

// Make the menu smaller
.moreButton :global {
  .dropdown-menu {
    padding: 0.4rem 0;
  }
  .dropdown-divider {
    margin: 0.4rem 0;
  }
  .dropdown-item {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    padding: 0.25rem 0.8rem;
    line-height: 160%;
    .icon {
      height: 1rem;
      width: 1rem;
      margin-right: 0.4rem;
    }
  }
}
