.accountMenu {
  // https://getcssscan.com/css-box-shadow-examples #38
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  :global(.dropdown-item) {
    &:hover {
      text-decoration: none !important;
    }
  }
}

// TODO expand click area w/ ::before overlay. Although it might not actually be necessary. Should check on actual device first.
.switcherActionButton {
  padding: 0;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  .icon {
    width: 25px;
    height: 25px;
    position: relative;
    top: 1px;
    left: 1px;
  }
  // Expand click area
  &::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    top: -15px;
    left: -15px;
    border-radius: 20px;
  }
  @media screen and (max-width: 480px) {
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 20px;
    .icon {
      width: 20px;
      height: 20px;
      top: -1px;
    }
  }
}
