.linkHrefInput {
  min-width: 300px;
  font-size: 90%;
  padding: 4px 10px;
  border-radius: 3px;
  // https://getcssscan.com/css-box-shadow-examples #38
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  &:focus {
    outline: 0;
    border: 1px solid #1164e0;
  }
}
