// TODO I don't like that this & add card form & cardcard are all in diff files

.childrenCards {
  margin: 30px 0;
  max-width: 40rem;

  .childrenCardsLabel {
    font-size: 0.9rem;
    font-weight: 500;
    color: #888;
    margin-bottom: 0.5rem;
  }

  .childrenCardsList {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
  }
}
